@import url(//fonts.googleapis.com/css?family=Oswald:400);

.chart {
    position: absolute;
    margin: 10px 0px 2px 0px;
    width: 450px;
    height: 450px;
}

.chartContainer {
    position: relative;
    height: 100%;
}

.chartHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.chartFooter {
    position: absolute;
    bottom: 0;
    left: 70px;
}

.pieTip {
    position: absolute;
    float: left;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 18px 6px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .97);
    color: #444;
    font-size: 15px;
    /*text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;*/
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: all .3s;
    -moz-transform: all .3s;
    -ms-transform: all .3s;
    -o-transform: all .3s;
    transform: all .3s;
    pointer-events: none;
}

.pieTip:after {
    position: absolute;
    left: 50%;
    bottom: -6px;
    content: "";
    height: 0;
    margin: 0 0 0 -6px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, .95);
    line-height: 0;
}

.chart path {
    cursor: pointer;
}
