<!-- BEGIN CIRCLE GRAPHS-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="h3">
        <span class="glyphicon glyphicon-stats"></span>
        Statistics
      </div>

      <div class="row" style="height: 500px;">
        <div class="col-md-3 chartContainer">
				<canvas id="bars" width="500" height="500"></canvas>
			<div class="chartFooter">
				<span ng-if="failedExperiments == 0">All {{allExperiments}} experiments successful.</span>
				<span ng-if="failedExperiments != 0">{{failedExperiments}} of {{allExperiments}} experiments failed.</span>
				<span ng-if="failureRuns == 0">All {{allRuns}} runs successful.</span>
				<span ng-if="failureRuns != 0">{{failureRuns}} of {{allRuns}} runs failed.</span>
			</div>
        </div>

        <div class="col-md-3">
          <h6 ng-if="failedExperiments != 0">{{allExperiments}}</h6>
          <h6 ng-if="failedExperiments == 0">0</h6>
          <p align="center">experiments defined.</p>
          <h6 class="neutral" ng-if="failedExperiments != 0">{{allRuns}}</h6>
          <h6 class="neutral" ng-if="failedExperiments == 0">0</h6>
          <p align="center">Gareth runs completed.</p>
          <h6 class="error" ng-if="failedExperiments != 0">{{failedExperiments}}</h6>
          <h6 class="error" ng-if="failedExperiments == 0">0</h6>
          <p align="center">experiments failing.</p>
        </div>
		

      </div>
		
    </div>
    <!-- END PAGE CONTENT-->
  </div>
  <!-- BEGIN CONTENT -->
</div>
<!-- END CIRCLE GRAPHS-->

<md-divider md-inset></md-divider>

<!-- BEGIN THE TABLE-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="h3">
        <span class="glyphicon glyphicon-fire"></span>
        Running experiments
      </div>

      <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="bg-white">
          <div ng-app id="ng-app">
            <div ng-repeat="experiment in experiments">
              <div class="panel-heading">
                <table class="table-condensed experiments">
                  <thead>
                  <tr>

                    <th width="10%"><a ng-click="rerun(experiment._links[1].href)"><h3><span
                      class="glyphicon glyphicon-refresh"></span></h3></a></th>
                    <th width="80%"><a href="" class="collapsed" ng-click="collapsed=!collapsed"><h3>
                      {{experiment.experiment_name}}</h3></a></th>
                    <th width="10%"><p class="{{experiment.assume_state}}"><span
                      class="glyphicon glyphicon-dashboard"></span></p></th>
                  </tr>
                  </thead>
                </table>
              </div>

              <div ng-show="collapsed">
                <table class="table">
                  <thead>
                  <tr>
                    <th colspan="2"></th>
                    <th>Execution date/time</th>
                    <th>Execution status</th>
                  </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <th width="10%">Baseline</th>
                    <th width="50%">{{experiment.baseline_glueline}}
                    </td>
                    <th width="30%">{{experiment.baseline_execution | date:'medium'}}</th>
                    <th width="10%"><p class="{{experiment.baseline_state}}"><span
                      class="glyphicon glyphicon-download-alt"></span></p></th>
                  </tr>

                  <tr>
                    <th>Assumption</th>
                    <td>{{experiment.assume_glueline}}</td>
                    <td>{{experiment.assume_execution | date:'medium'}}</td>
                    <td><p class="{{experiment.assume_state}}"><span
                      class="glyphicon glyphicon-question-sign"></span></p></td>
                  </tr>

                  <tr>
                    <th>Time</th>
                    <td colspan="3">{{experiment.time_glueline}}</td>
                  </tr>

                  <tr>
                    <th>Success</th>
                    <td>{{experiment.success_glueline}}</td>
                    <td>{{experiment.success_execution | date:'medium'}}</td>
                    <td><p class="{{experiment.success_state}}"><span
                      class="glyphicon glyphicon-ok-sign"></span></p></td>
                  </tr>

                  <tr>
                    <th>Failure</th>
                    <td>{{experiment.failure_glueline}}</td>
                    <td>{{experiment.failure_execution | date:'medium'}}</td>
                    <td><p class="{{experiment.failure_state}}"><span
                      class="glyphicon glyphicon-exclamation-sign"></span></p></td>
                  </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END THE TABLE-->

<md-divider md-inset></md-divider>
